body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
    background-image: url(login.png);
    background-repeat: no-repeat;
    background-size: cover;
}
Body h1{
    text-align: center;
    margin-top: 0px;
    padding: 50px, 0px, 20px, 0px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 50px;
    background-color: #141823;
    color: #fff;
}
body h2{
    margin: 15px;
    font-size: 35px;
    text-decoration: underline;
    color: #fff;
}
.main{
    height: 90vh;
    display: flex;  
    justify-content: center;
    align-items: center;
}
.container {
    background-color: #8888887e;
    backdrop-filter: blur(5px);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 550px;
    height: 450px;
    margin-top: 130PX;
    margin-bottom: 140px;
    text-align: center;
}
.container:hover {
    box-shadow: 0px 0px 25px #2a2a2a;
    transition: ease-in-out 0.5s;
}
.innerdiv1{
    display: flex;
    align-items: start;
    justify-content: center;
}
form {
    padding-top: 10px;
}
label {
    width: 200px;
    text-align: left;
    font-size: 25px;
    color: #fff;
}
input {
    width: 250px;
    height: 20px;
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button {
    align-self: center;
    margin-top: 30px;
    width: 250px;
    font-weight: 500;
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
    background-color: #ffffff;
    color: #000000;
    box-shadow: 0px 0px 25px #2a2a2a;
    transition: ease-in-out 0.5s;
}
p{
    padding-top: 10px;
}
a {
    text-decoration: none;
    color: #414141;
}
a:hover {
    text-decoration: underline;
    color: #ffffff;
}